.CardContainer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.default,
.Favorites-default {
  color: gold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
}

.Favorites-default-text {
  color: gold;
  font-size: 1.75rem;
  margin-top: 0;
  align-self: flex-start;
}

