.Card {
  background-color: #444;
  border-radius: 25px;
  box-shadow: 0 0 0 0 transparent;
  display: grid;
  font-weight: 700;
  grid-template: 'heading hilt' 50px
                 'content content' 1fr
                  / 1fr 90px;
  letter-spacing: 1px;
  margin: 25px;
  width: 300px;
  z-index: 0;
}

.saber {
  margin-top: 27px;
  border-radius: 5px;
  grid-area: heading;
  height: 10px;
  justify-self: end;
  z-index: 3;
}

.hilt {
  grid-area: hilt;
  margin-left: 1px;
  transform: rotate(225deg);
  z-index: 6;
}

.hilt:hover {
  cursor: pointer;
}

.name {
  grid-area: heading;
  margin: 15px 0px 0px 20px;
  text-align: center;
  z-index: 9;
}

.content {
  grid-area: content;
  color: white;
  list-style: none;
  margin: 20px 50px 25px 50px;
  padding: 0;
}

.details {
  font-weight: 400;
}

.people-is-glowing {
  box-shadow: 0 0 10px deepskyblue, 0 0 15px white;
  background-color: hsl(195, 85%, 70%);
  transition: width 1s;
  width: 185px;
}

.planets-is-glowing {
  box-shadow: 0 0 10px springgreen, 0 0 15px white;
  background-color: hsl(150, 100%, 70%);
  transition: width 1s;
  width: 185px;
}

.vehicles-is-glowing {
  box-shadow: 0 0 10px red, 0 0 15px white;
  background-color: hsl(0, 100%, 62%) ;
  transition: width 1s;
  width: 185px;
}

.favorites-is-glowing {
  box-shadow: 0 0 10px gold, 0 0 15px white;
  background-color: hsl(51, 100%, 50%) ;
  transition: width 1s;
  width: 185px;
}

.people-is-off,
.planets-is-off,
.vehicles-is-off,
.favorites-is-off {
  background-color: transparent;
  box-shadow: 0 0 0  transparent;
  transition: background-color 0s 1.8s , box-shadow 0s 1.8s, width 1s 0.8s;
  width: 1px;
}

.people-bg-glow {
  box-shadow: 0 0 50px -5px deepskyblue, 0 0 60px -5px white;
  transition: box-shadow 1s 0.8s;
}

.planets-bg-glow {
  box-shadow: 0 0 50px -5px springgreen, 0 0 60px -5px white;
  transition: box-shadow 1s 0.8s;
}

.vehicles-bg-glow {
  box-shadow: 0 0 50px -5px red, 0 0 60px -5px white;
  transition: box-shadow 1s 0.8s;
}

.favorites-bg-glow {
  box-shadow: 0 0 50px -5px gold, 0 0 60px -5px white;
  transition: box-shadow 1s 0.8s;
}

.people-bg-off,
.planets-bg-off,
.vehicles-bg-off,
.favorites-bg-off {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 1s;
}

.is-black {
  color: black;
  transition: color 1s;
}

.is-white {
  color: white;
  transition: color 1s 0.8s;
}