.Card {
  background-color: #444;
  border-radius: 40px;
  box-shadow: 0 0 0 0 transparent;
  height: 500px;
  margin: 20px;
  width: 300px;
  z-index: 0;
}

.saber {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 0  transparent;
  display: inline-block;
  height: 10px;
  width: 1px;
  z-index: 3;
}

.hilt {
  transform: rotate(225deg);
}

.name {
  color: white;
}

.isLit {
  background-color: hsl(195, 85%, 70%);
  box-shadow: 0 0 10px deepskyblue, 0 0 15px white;
  transition: width 1s;
  width: 200px;
}

.isOff {
  background-color: transparent;
  box-shadow: 0 0 0  transparent;
  transition: background-color 0s 1.8s , box-shadow 0s 1.8s, width 1s 0.8s;
  width: 1px;
}

.isAlsoLit {
  box-shadow: 0 0 50px -5px deepskyblue, 0 0 60px -5px white;
  transition: box-shadow 1s 0.8s;
}

.isAlsoOff {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 1s;
}
